* {
  font-family: "SUSE", sans-serif;
}
body {
  background-color: #1b1c31;
}
.select-none {
  user-select: none;
}

.scrollLock {
  overflow-x: hidden;
}

:hover.shadowing {
  box-shadow: 0 0 30px 0.1px #6048e8;
}
